body {
  background: black url("file://C:\Users\Bison\Desktop\mashed-up-cicadas\public\cicadas\03cityroom-cicadas-superJumbo.jpg");
}


h1 {
  color: green;
  font-size: 5em;
  margin-top: 1%;
  text-align: center;
}


.base {
  /*height of container (shows forehead)*/
  height: 500px;
  /*width of container (shows whole width of image)*/
  width: 427px;
  /*sets distance from left side of screen*/
  left: 36%;
  /*sets everything outside the container to hidden*/
  overflow: hidden;
  /*moves image to center of the screen. could be fixed*/
  position: absolute;
}


.forehead {
  top: 219px;
  /*height of container (shows forehead)*/
  height: 150px;
  /*width of container (shows whole width of image)*/
  width: 427px;
  /*sets distance from left side of screen*/
  left: 36%;
  /*sets everything outside the container to hidden*/
  overflow: hidden;
  /*moves image to center of the screen. could be fixed*/
  position: absolute;
}


.middle {
  /*height of container (shows forehead)*/
  height: 500px;
  /*width of container (shows whole width of image)*/
  width: 427px;
  /*sets distance from left side of screen*/
  left: 26%;
  /*sets everything outside the container to hidden*/
  overflow: hidden;
  /*moves image to center of the screen. could be fixed*/
  position: absolute;
}


.base #cicadas {
  position: relative;
  /*sets height of image within div*/
  top: 60px;
}


.forehead #cicadas {
  position: relative;
}


.middle #cicadas {
  position: relative;
  /*sets height of image within div*/
  top: 60px;
}



/*
#bottom {
  position: absolute;
  clip: rect(10px, 0, 0, 0);
}

/*142.3*/