body {
  background: black;
}


h1 {
  color: green;
  font-size: 5em;
  margin-top: 1%;
  text-align: center;
}


.bottom {
  /*height of container (shows forehead)*/
  height: 500px;
  /*width of container (shows whole width of image)*/
  width: 427px;
  /*sets distance from left side of screen*/
  left: 36%;
  /*sets everything outside the container to hidden*/
  overflow: hidden;
  /*moves image to center of the screen. could be fixed*/
  position: absolute;
}


.forehead {
  top: 219px;
  height: 150px;
  width: 427px;
  left: 36%;
  overflow: hidden;
  position: absolute;
}


.middle {
  /*height of container (shows forehead)*/
  height: 310px;
  /*width of container (shows whole width of image)*/
  width: 427px;
  /*sets distance from left side of screen*/
  left: 36%;
  /*sets everything outside the container to hidden*/
  overflow: hidden;
  /*moves image to center of the screen. could be fixed*/
  position: absolute;
}


.bottom #cicadas {
  position: relative;
  top: 60px;
}


.middle #cicadas {
  position: relative;
  top: 60px;
}
