<h1>C I C A D A S M A S H  U P</h1>

<div class="base">
  <img id="cicadas" src=<%="#{@cicadas.sample.route}"%> />
</div>

<div class="forehead">
  <img id="cicadas" src=<%="#{@cicadas.sample.route}"%> />
</div>

<div class="middle">
  <img id="cicadas" src=<%="#{@cicadas.sample.route}"%> />
</div>