<div class="images">
  <div class="bottom">
    <img id="cicadas" src=<%="#{@cicadas.sample.route}"%> />
  </div>

  <div class="middle">
    <img id="cicadas" src=<%="#{@cicadas.sample.route}"%> />
  </div>

  <div class="forehead">
    <img id="cicadas" src=<%="#{@cicadas.sample.route}"%> />
  </div>
</div>

